<header class="px-4 sm:px-6 lg:px-8">
  <h3><%= assigns[:page_title] || "GlobalCluster" %></h3>
</header>
<main>
  <div>
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
