<div>
  <div>
  <%= for f <- System.cmd("ifconfig", ["wg0"]) |> elem(0) |> String.split("\n") do %>
    <%= f %><br>
  <% end %>
  </div>
  <div>Hostname: <%= System.cmd("hostname", []) |> elem(0) %></div>
</div>
