<div>
  <div>
  <%= for f <- System.cmd("ifconfig", ["wg0"]) |> elem(0) |> String.split("\n") do %>
    <%= f %><br>
  <% end %>
  </div>
  <div>Hostname: <%= System.cmd("hostname", []) |> elem(0) %></div>
  <div>Cluster members:
    <%= for f <- Node.list() do %>
      <%= f %><br>
    <% end %>
  </div>
  <div>DB Cluster members:
    <%= for f <- Mnesiac.cluster_status[:running_nodes] do %>
      <%= f %><br>
    <% end %>
  </div>
</div>
